{% extends 'base.html' %}


{% block title %}
    <title>Image Similarity Using Faiss</title>
{% endblock %}


{% block heading %}
    <div class="display-6 newnav" >
        <div style="width: 100%; text-align:center;"><a style="font-size:1.3em;">Image Similarity Detection</a></div>
    </div>
{% endblock %}


{% block data %}
    <br>
    <h3 style="text-align:center;">Here you can search images similar to input image</h3>
    <br>

    <div style="width: 100%; text-align:center;">
        <div class="d-grid gap-5 d-md-block">
            <a class="btn btn-outline-dark" href="/index" role="button">Index</a>
            <a class="btn btn-outline-dark" href="/search" role="button">Search</a>
        </div>
    </div>
{% endblock %}