{% extends 'base.html' %}


{% block title %}
    <title>Index images</title>
{% endblock %}


{% block heading %}
    <div class="display-6 newnav" style="height:1.4em;">
        <a style="margin-left:2%">Upload Images to Index</a>
        <a style="float:right; margin-right:2%" href="{{ url('home') }}"><button class="btn btn-outline-light">Home</button></a>
    </div>
{% endblock %}


{% block data %}
    <div style="margin-left:2%; margin-right:2%;">
        <br>
        <p style="font-size:1.5em;">Select images</p>

        <form method="post" action="/index" enctype="multipart/form-data" id="form_loading">
            <input type="file" name="files" multiple="true" autocomplete="off" required>
            <input type="submit" class="btn btn-dark" value="Upload" />
        </form>
    </div>
{% endblock %}