<!doctype html>
<html lang="en">
<head>
    <title>Medical Documents Insights Extractor</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ static('css/style.css') }}">

</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-light bg-white">
    <div class="container-fluid mt-2 offset-xl-1 offset-lg-1 offset-md-1" style="padding-left: 0;">
        <a class="navbar-brand" href="/">
            <img src="https://cdn-gcp.marutitech.com/wp-media/2019/03/maruti-teachlabs-logo.svg" alt="">
        </a>
    </div>

</nav>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto">
            <div id="nof" class="alert alert-warning" role="alert" style="display:none">
                Only 1 file is allowed at max &#9995;
            </div>
            {% if error %}
            <div id="error" class="alert alert-danger" role="alert">
               Something went KaBOOM! &#128165;, Please try again after sometime.
            </div>
            {% endif %}
            {% if file_error %}
            <div id="file_error" class="alert alert-danger" role="alert">
                Please make sure you upload valid files, currently only {'pdf'} format is supported. &#128125;
            </div>
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Try Medical Documents Insights Extractor!</h5>
                    <p class="card-text">Upload a Medical document to extract insights like Summary, Entities, PHI dates and Encounter dates</p>
                    <div class="text-center m-2">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mx-auto">
                            <form id="upload-form" action="/med-doc/extract" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col">
                                        <label class="btn upload-btn btn-block" for="input_pdf">
                                            <input id="input_pdf" type="file" name="input_pdf" style="display:none" onchange="uploadAndRedirect(this)">
                                            Upload
                                        </label>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center"
         role="document">
        <img src="{{ static( 'img/loader.gif') }}" height="50" alt="Image not found">
    </div>
</div>
<div id="result-container"></div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<script>
    function uploadAndRedirect(input) {
        // Show loader
        $('#exampleModal').modal('show');

        // Get the selected file
        var file = input.files[0];

        // Create a new FormData object and append the file to it
        var formData = new FormData();
        formData.append('input_pdf', file);

        // Use AJAX to submit the form
        $.ajax({
            url: '/med-doc/extract',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                $('#exampleModal').modal('hide');

                // Render the HTML response in a container (assuming you have a container with the id 'result-container')
                document.open();
                document.write(response);
                document.close();
            },
            error: function(xhr, textStatus, errorThrown) {
                // Handle the error and display a message
                console.error(xhr.responseText);

                $('#exampleModal').modal('hide');

                // Display an error message in the browser
                document.open();
                document.write('<h1>Error</h1>');
                document.write('<p>An internal server error occurred. Please try again later.</p>');
                document.close();
            }
        });
    }
</script>
<div id="result"></div>
</body>
</html>
