<!DOCTYPE html>
<html>
<head>
    <title>Car Damage Detection</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/predict_style.css">
</head>
<body>
    <h1 class="page-heading">Car Damage Detection</h1>
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-interval="false">
    <div class="carousel-inner">
    {% for i in range(base_name|length) %}
        {% if i==0 %}
        <div class="carousel-item active">
        <tr>
            <td>
<!--                <p style="text-align: center; font-weight: bold; font-size: 24px;">Object Detection Result</p>-->
                <p style="text-align: center; font-weight: bold; font-size: 24px; font-family: Helvetica, sans-serif;">Object Detection Result</p>

                <img src="/static/predict/{{ base_name[i] }}" class="image">
            </td>
        </tr>

    <table class="dict-table" style="width: 20%; margin-left: 1000px; margin-right: 500px; font-size: 24px;">
        <thead>
            <tr>
                <th class="dict-th">Label Name</th>
                <th class="dict-th">Confidence</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in dict[i].items() %}
                <tr class="dict-tr">
                    <td class="dict-td">{{ key }}</td>
                    <td class="dict-td">{{ '%.2f' % value }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
        {% else %}
        <div class="carousel-item">
        <tr>
            <td>
                <p style="text-align: center; font-weight: bold; font-size: 24px; font-family: Helvetica, sans-serif;">Object Detection Result</p>
                <img src="/static/predict/{{ base_name[i] }}" class="image">
            </td>
        </tr>
    <table class="dict-table" style="width: 20%; margin-left: 1000px; margin-right: 500px; font-size: 24px;">
        <thead>
            <tr>
                <th class="dict-th">Label Name</th>
                <th class="dict-th">Confidence</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in dict[i].items() %}
                <tr class="dict-tr">
                    <td class="dict-td">{{ key }}</td>
                    <td class="dict-td">{{ '%.2f' % value }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
        {% endif %}
    {% endfor %}
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="button-custom" aria-hidden="true"> <- </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="button-custom" aria-hidden="true"> -> </span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="button-container">
        <button class="button" onclick="location.href='/'">Upload Another Image</button>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

