<!doctype html>
<html lang="en">
<head>
    <title>Driving License OCR</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ static( 'css/style.css') }}">

</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-light bg-white">
    <div class="container-fluid mt-2 offset-xl-1 offset-lg-1 offset-md-1" style="padding-left: 0;">
        <a class="navbar-brand" href="/">
            <img src="https://cdn-gcp.marutitech.com/wp-media/2019/03/maruti-teachlabs-logo.svg" alt="">
        </a>
    </div>

</nav>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto">
            <div id="nof" class="alert alert-warning" role="alert" style="display:none">
                Only 5 Images are allowed at max &#9995;
            </div>
            {% if error %}
            <div id="error" class="alert alert-danger" role="alert">
                Something went KaBOOM! &#128165;, Please try again after sometime.
            </div>
            {% endif %}
            {% if file_error %}
            <div id="file_error" class="alert alert-danger" role="alert">
                Please make sure you upload valid images, currently only {'jpg', 'jpeg', 'png'} formats are supported.
                &#128125;
            </div>
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Try Driving License OCR!</h5>
                    <p class="card-text">Use the below button to upload your images of your Driving License and get the
                        extracted data.</p>
                    <form id="myform" action="/driving-license" method="post" enctype="multipart/form-data">
                        <div class="row m-2">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 offset-xl-4 offset-lg-4 offset-md-3">
                                <label class="btn upload-btn d-block" for="gallery-photo-add">
                                    <input id="gallery-photo-add" type="file" name="file" style="display:none" multiple>
                                    Upload your own image
                                </label>
                            </div>
                        </div>
                        <div class="row mt-2 mx-auto" id="thumbnail_gallery">
                            {% for result in results %}
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4">
                                <img src="/get-resource?file_name={{result['filename']}}"
                                     onclick="openModal();currentSlide(1)"
                                     class="img-fluid img-thumbnail hover-shadow cursor my-2" alt="Result image">
                            </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <p class="card-title">Sample images to try:</p>
                    <div class="container" style="padding:0px;margin:0px">
                        <div class="row">
                            <div class="col-md">
                                <form id="myform1" action="/driving-license" method="post"
                                      enctype="multipart/form-data">
                                    <input type="hidden" name="file"
                                           value="{{ static('driving_license/input_images/sample_image1.jpg') }}">
                                    <img src="{{ static('driving_license/input_images/sample_image1.jpg') }}"
                                         class="img-fluid img-thumbnail hover-shadow cursor my-2" alt="Click me"
                                         id="image1"
                                         style="cursor: pointer;height: 450px; width: 300px; object-fit: contain;">
                                </form>
                            </div>
                            <div class="col-md">
                                <form id="myform2" action="/driving-license" method="post"
                                      enctype="multipart/form-data">
                                    <input type="hidden" name="file"
                                           value="{{ static('driving_license/input_images/sample_image2.jpg') }}">
                                    <img src="{{ static('driving_license/input_images/sample_image2.jpg') }}"
                                         class="img-fluid img-thumbnail hover-shadow cursor my-2" alt="Click me"
                                         id="image2"
                                         style="cursor: pointer;height: 450px; width: 300px; object-fit: contain;">
                                </form>
                            </div>
                            <div class="col-md">
                                <form id="myform3" action="/driving-license" method="post"
                                      enctype="multipart/form-data">
                                    <input type="hidden" name="file"
                                           value="{{ static('driving_license/input_images/sample_image3.jpg') }}">
                                    <img src="{{ static('driving_license/input_images/sample_image3.jpg') }}"
                                         class="img-fluid img-thumbnail hover-shadow cursor my-2" alt="Click me"
                                         id="image3"
                                         style="cursor: pointer;height: 450px; width: 300px; object-fit: contain;">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
function postToDrivingLicense(filePath) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/driving-license', true);
    var formData = new FormData();
    var reader = new FileReader();
    reader.onload = function () {
        var fileContent = reader.result;
        var blob = new Blob([fileContent]);
        var fileName = filePath.substring(filePath.lastIndexOf('/') + 1);
        var file = new File([blob], fileName);
        formData.append('file', file);
        xhr.send(formData);
    };
    fetch(filePath)
        .then(response => response.blob())
        .then(blob => reader.readAsArrayBuffer(blob));
}
</script>

<!-- spinner -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center"
         role="document">
        <img src="{{ static( 'img/loader.gif') }}" height="50">
    </div>
</div>
<!-- spinner -->

{% if results %}
<div id="myModal" class="modal modal-xl mh-100" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Driving License OCR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for result in results %}
                    <div class="col mySlides">
                        <div class="row px-4">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
                                <img src="/get-resource?file_name={{result['filename']}}" class="img-fluid rounded"
                                     alt="Image not found" style="border: 2px solid #9c9c9c;">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                {% for k,v in result['driving_license'].items() %}
                                <div class="row">
                                    <div class="col-5">
                                        <p class="m-0">
                                            <strong>{{k}}:</strong>
                                        </p>
                                    </div>

                                    {% if k=='Address' and v!='NA' %}
                                        {% for k1,v1 in v.items() %}
                                            <div class="col-7 ml-auto text-left">
                                                <p class="m-0">
                                                    {{k1}}: {{v1}}
                                                </p>
                                            </div>
                                            <br>
                                        {% endfor %}
                                    {% else %}
                                    <div class="col-7 ml-auto text-left">
                                        <p class="m-0">
                                            {{v}}
                                        </p>
                                    </div>
                                    {% endif %}
                                </div>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <hr>
                <div class="row mt-3">
                    {% for result in results %}
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-3">
                        <img class="demo cursor img-fluid img-thumbnail my-2" src="/get-resource?file_name={{result['filename']}}"
                             onclick="currentSlide({{result.image_count}})" alt="Image not found">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script>
$(function(e) {
    $('#gallery-photo-add').on('change', function() {
    $('#nof').hide();
    var files = $(this)[0].files;
    if(files.length > 100){
            $('#nof').show();
            $('#gallery-photo-add').val('');
    }else{
            document.getElementById("myform").submit();
            $('#exampleModal').modal('show'); //Open the model
    }
    });
});
document.onkeydown = function(e) {
if($("#myModal").css("display") !='none' && $("#myModal").css("visibility") != 'hidden') {
        switch (e.keyCode) {
            case 37:
                plusSlides(-1);
                break;
            case 39:
                plusSlides(1);
                break;
        }
    }
};

document.getElementById('image1').addEventListener('click', function() {
    document.getElementById('myform1').submit();
    $('#exampleModal').modal('show');
});
document.getElementById('image2').addEventListener('click', function() {
    document.getElementById('myform2').submit();
    $('#exampleModal').modal('show');
});
document.getElementById('image3').addEventListener('click', function() {
    document.getElementById('myform3').submit();
    $('#exampleModal').modal('show');
});


</script>
<script src="{{ static( 'js/light-box.js') }}"></script>
</body>
</html>