<!doctype html>
<html lang="en">
<head>
    <title>Index</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ static('css/style.css') }}">

</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-light bg-white">
    <div class="container-fluid mt-2 offset-xl-1 offset-lg-1 offset-md-1" style="padding-left: 0;">
        <a class="navbar-brand" href="/">
            <img src="https://cdn-gcp.marutitech.com/wp-media/2019/03/maruti-teachlabs-logo.svg" alt="">
        </a>
    </div>

</nav>
<!--<div class="container-fluid mt-3 allButFooter">-->
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ static('img/driving-license-thumbnail.png') }}" alt="Card image cap" style="object-fit: center; width:543px; height:416px">
                        <div class="card-body">
                            <h5 class="card-title">Driving License OCR</h5>
                            <p class="card-text">Extract Data from a Driving License photograph.</p>
                            <a href="/driving-license" class="btn upload-btn">Try now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ static('img/certificate-of-title-thumbnail.jpg') }}" alt="Card image cap" style="object-fit: cover; width:543px; height:416px">
                        <div class="card-body">
                            <h5 class="card-title">Certificate Of Title OCR</h5>
                            <p class="card-text">Extract Data from a Certificate Of Title photograph.</p>
                            <a href="/certificate-of-title" class="btn upload-btn">Try now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ static('img/damage-thumbnail.PNG') }}" alt="Card image cap" style="object-fit: cover; width:543px; height:416px">
                        <div class="card-body">
                            <h5 class="card-title">Car Damage Detection</h5>
                            <p class="card-text">Identify the damaged parts of the car with the photographs</p>
                            <a href="/car-damage-detection" class="btn upload-btn">Try now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>